  <!-- Footer -->
  <footer class="footer has-background-info	 ">
    <div class="content has-text-centered">
      <p> <strong>WeatherWeather- Dashboard</strong> by Gabriela K. </p>
    </div>
  </footer>

  